<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<div class="col-md-12">
  <div class="panel panel-default">
      <div class="panel-heading" style="text-align: center">
          <h2>Vehiculos Parqueados</h2>
      </div>
      <div class="panel-body">
          <table class="table table-striped ">
              <thead> 
                  <th>
                      <div style="text-align: center"> <h3>Placa</h3></div>
                  </th>
                  <th>
                      <div style="text-align: center"><h3>Tipo</h3></div>
                  </th> 
                  <th>
                      <div style="text-align: center"><h3>Fecha de Ingreso</h3></div>
                  </th> 
              </thead>
              <TBODy>
                  <tr *ngFor="let vehiculo of vehiculos">
                      <td><div style="text-align: center"><h4>{{vehiculo.vehiculo.placa}}</h4></div></td>
                      <td><div style="text-align: center"><h4>{{vehiculo.vehiculo.tipo}}</h4></div></td>
                      <td><div style="text-align: center"><h4>{{vehiculo.fechaIngreso | date:'medium'}}</h4></div></td>    
                  </tr>
              </TBODy>
          </table>
      </div>
  </div>
</div>