<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div class="col-md-12">
  <app-carro-form [carro]="carro" (onSubmit)="ingresoCarro($event)"></app-carro-form>
</div>
<div *ngIf="mensaje"  class="alert alert-warning" role="alert">
  <button (click)="ocultarAlerta()" type="button" class="close" data-dismiss="alert" aria-label="Close">
  <span aria-hidden="true">&times;</span>
  </button>
  <h4 class="alert-heading">Upss</h4>
  <p>{{mensaje}}</p>
  </div>
</html>