<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div style="text-align:center">
    <br>
  <h1>
    Bienvenido al  {{ title }}
  </h1>
  <br>
  <br>
  <img width="300" src="logo-ceiba.png" alt="Ceiba Logo"> 
  <br>
  <br>
  <br>
  <br>
  </div>
  <div class="container">
      <div class="row"> 
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                </div>
            </div>
        <ul class="nav navbar-nav">
          <li><a routerLink= "/moto/ingreso" >Moto</a></li>
          <li><a routerLink= "/carro/ingreso" >Carro</a></li>
          <li><a routerLink = "/listar/vehiculos">Lista de Vehiculos</a></li>
          <li><a routerLink= "/vehiculo/salida" >Salida de Vehiculos</a></li>
        </ul>
      </nav>
    </div>
    <hr/>
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>

    
